


@media (max-width: 630px) {
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 7em;
      display:flex;
    }
  }
}

@media (max-width: 550px) {
  .memory {
    padding: 20px 0px;
    width: 353px;
    height: 385px;
  }
  .introdution {
      padding-top:20px;
  }
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 4em;
      display:flex;
    }
  }
}

@media (max-width: 360px) {
  .memory {
    padding: 20px 0px;
    width: 332px;
    height: 378px;
  }

}

@media (max-width: 320px) {
  .memory {
    padding: 20px 0px;
    width: 300px;
    height: 330px;
  }

}