* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(29, 29, 104);
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

  .introdution {
    text-align: center;
  }
  
  h1 {
    color: white;
    margin: 20px 0;
  }

  img {
    border: 1px solid black;
  }

  .memory {
    width: 540px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  .time {
    display:flex;
    color:white;
    justify-content:center;
    padding-bottom: 15px;
  }

  .time p {
    padding-right: 10px;
  }

  .time p, span {
    font-size: 20px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(15, 15, 15, 0.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(83, 120, 150);
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(180deg);
  }

  .overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    color: lightgoldenrodyellow;
  }

  .overlay-text-small {
    font-size: .3em;
  }
  

  .overlay-text:hover {
    cursor: pointer;
    color: rgb(143, 142, 142);
  }

  .overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
  }

  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, .8);
      font-size: 10em;
    }
  }
  